USE [master]
GO
/****** Object:  Database [C_CBD]    Script Date: 06/11/2025 03:14:02 a. m. ******/
CREATE DATABASE [C_CBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'C_CBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\C_CBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'C_CBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\C_CBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C_CBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C_CBD]
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 06/11/2025 03:14:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumno](
	[Matricula] [nvarchar](50) NOT NULL,
	[ID_Cuenta] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apaterno] [nvarchar](50) NOT NULL,
	[Amaterno] [nvarchar](50) NOT NULL,
	[F_Nac] [date] NOT NULL,
	[Genero] [char](1) NOT NULL,
	[Carrera] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ID_Cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chat]    Script Date: 06/11/2025 03:14:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat](
	[ID_Chat] [int] IDENTITY(100001,1) NOT NULL,
	[ID_Match] [int] NOT NULL,
	[Fecha_Creacion] [datetime2](3) NOT NULL,
	[LastMessageAtUtc] [datetime2](3) NULL,
	[LastMessageId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Chat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ID_Match] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuenta]    Script Date: 06/11/2025 03:14:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuenta](
	[ID_Cuenta] [int] IDENTITY(1001,1) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Hash_Contrasena] [nvarchar](200) NOT NULL,
	[Salt_Contrasena] [nvarchar](200) NOT NULL,
	[Estado_Cuenta] [tinyint] NOT NULL,
	[Fecha_Registro] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Match]    Script Date: 06/11/2025 03:14:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Match](
	[ID_Match] [int] IDENTITY(4001,1) NOT NULL,
	[Perfil_Emisor] [int] NOT NULL,
	[Perfil_Receptor] [int] NOT NULL,
	[Estado] [char](10) NOT NULL,
	[Fecha_Match] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Match] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Match_Par] UNIQUE NONCLUSTERED 
(
	[Perfil_Emisor] ASC,
	[Perfil_Receptor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mensaje]    Script Date: 06/11/2025 03:14:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mensaje](
	[ID_Mensaje] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_Chat] [int] NOT NULL,
	[Remitente] [int] NOT NULL,
	[Contenido] [nvarchar](max) NOT NULL,
	[Fecha_Envio] [datetime2](3) NOT NULL,
	[Confirmacion_Lectura] [bit] NOT NULL,
	[IsEdited] [bit] NOT NULL,
	[EditedAtUtc] [datetime2](3) NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Mensaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 06/11/2025 03:14:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[ID_Perfil] [int] IDENTITY(2001,1) NOT NULL,
	[ID_Cuenta] [int] NOT NULL,
	[Nikname] [nvarchar](50) NOT NULL,
	[Biografia] [ntext] NULL,
	[Foto_Perfil] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Perfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nikname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ID_Cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preferencias]    Script Date: 06/11/2025 03:14:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preferencias](
	[ID_Preferencias] [int] IDENTITY(3001,1) NOT NULL,
	[ID_Perfil] [int] NOT NULL,
	[Preferencia_Genero] [tinyint] NOT NULL,
	[Edad_Minima] [int] NOT NULL,
	[Edad_Maxima] [int] NOT NULL,
	[Preferencia_Carrera] [nvarchar](50) NOT NULL,
	[Intereses] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Preferencias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ID_Perfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Chat] ADD  CONSTRAINT [DF_Chat_Created]  DEFAULT (sysutcdatetime()) FOR [Fecha_Creacion]
GO
ALTER TABLE [dbo].[Cuenta] ADD  CONSTRAINT [DF_Cuenta_Estado]  DEFAULT ((1)) FOR [Estado_Cuenta]
GO
ALTER TABLE [dbo].[Cuenta] ADD  CONSTRAINT [DF_Cuenta_Fecha]  DEFAULT (sysutcdatetime()) FOR [Fecha_Registro]
GO
ALTER TABLE [dbo].[Match] ADD  CONSTRAINT [DF_Match_Fecha]  DEFAULT (sysutcdatetime()) FOR [Fecha_Match]
GO
ALTER TABLE [dbo].[Mensaje] ADD  CONSTRAINT [DF_Msg_Created]  DEFAULT (sysutcdatetime()) FOR [Fecha_Envio]
GO
ALTER TABLE [dbo].[Mensaje] ADD  CONSTRAINT [DF_Msg_Confirm]  DEFAULT ((0)) FOR [Confirmacion_Lectura]
GO
ALTER TABLE [C_C/Resources/DataBase/Schema.sql].[Mensaje] ADD  CONSTRAINT [DF_Msg_Edited]  DEFAULT ((0)) FOR [IsEdited]
GO
ALTER TABLE [dbo].[Mensaje] ADD  CONSTRAINT [DF_Msg_Deleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Preferencias] ADD  CONSTRAINT [DF_Pref_Genero]  DEFAULT ((0)) FOR [Preferencia_Genero]
GO
ALTER TABLE [dbo].[Preferencias] ADD  CONSTRAINT [DF_Pref_EdMin]  DEFAULT ((18)) FOR [Edad_Minima]
GO
ALTER TABLE [dbo].[Preferencias] ADD  CONSTRAINT [DF_Pref_EdMax]  DEFAULT ((35)) FOR [Edad_Maxima]
GO
ALTER TABLE [dbo].[Alumno]  WITH CHECK ADD  CONSTRAINT [FK_Alumno_Cuenta] FOREIGN KEY([ID_Cuenta])
REFERENCES [dbo].[Cuenta] ([ID_Cuenta])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Alumno] CHECK CONSTRAINT [FK_Alumno_Cuenta]
GO
ALTER TABLE [dbo].[Chat]  WITH CHECK ADD  CONSTRAINT [FK_Chat_Match] FOREIGN KEY([ID_Match])
REFERENCES [dbo].[Match] ([ID_Match])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Chat] CHECK CONSTRAINT [FK_Chat_Match]
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD  CONSTRAINT [FK_Match_PerfilE] FOREIGN KEY([Perfil_Emisor])
REFERENCES [dbo].[Perfil] ([ID_Perfil])
GO
ALTER TABLE [dbo].[Match] CHECK CONSTRAINT [FK_Match_PerfilE]
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD  CONSTRAINT [FK_Match_PerfilR] FOREIGN KEY([Perfil_Receptor])
REFERENCES [dbo].[Perfil] ([ID_Perfil])
GO
ALTER TABLE [dbo].[Match] CHECK CONSTRAINT [FK_Match_PerfilR]
GO
ALTER TABLE [dbo].[Mensaje]  WITH CHECK ADD  CONSTRAINT [FK_Mensaje_Chat] FOREIGN KEY([ID_Chat])
REFERENCES [dbo].[Chat] ([ID_Chat])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Mensaje] CHECK CONSTRAINT [FK_Mensaje_Chat]
GO
ALTER TABLE [dbo].[Mensaje]  WITH CHECK ADD  CONSTRAINT [FK_Mensaje_Perfil] FOREIGN KEY([Remitente])
REFERENCES [dbo].[Perfil] ([ID_Perfil])
GO
ALTER TABLE [dbo].[Mensaje] CHECK CONSTRAINT [FK_Mensaje_Perfil]
GO
ALTER TABLE [dbo].[Perfil]  WITH CHECK ADD  CONSTRAINT [FK_Perfil_Cuenta] FOREIGN KEY([ID_Cuenta])
REFERENCES [dbo].[Cuenta] ([ID_Cuenta])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Perfil] CHECK CONSTRAINT [FK_Perfil_Cuenta]
GO
ALTER TABLE [dbo].[Preferencias]  WITH CHECK ADD  CONSTRAINT [FK_Preferencias_Perfil] FOREIGN KEY([ID_Perfil])
REFERENCES [dbo].[Perfil] ([ID_Perfil])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Preferencias] CHECK CONSTRAINT [FK_Preferencias_Perfil]
GO
ALTER TABLE [dbo].[Alumno]  WITH CHECK ADD CHECK  (([Genero]='F' OR [Genero]='M'))
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD CHECK  (([Estado]=N'roto' OR [Estado]=N'rechazado' OR [Estado]=N'aceptado' OR [Estado]=N'pendiente'))
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD  CONSTRAINT [CK_Match_Distintos] CHECK  (([Perfil_Emisor]<>[Perfil_Receptor]))
GO
ALTER TABLE [dbo].[Match] CHECK CONSTRAINT [CK_Match_Distintos]
GO
ALTER TABLE [dbo].[Preferencias]  WITH CHECK ADD  CONSTRAINT [CK_Pref_Edades] CHECK  (([Edad_Minima]>=(18) AND [Edad_Maxima]<=(99) AND [Edad_Minima]<=[Edad_Maxima]))
GO
ALTER TABLE [dbo].[Preferencias] CHECK CONSTRAINT [CK_Pref_Edades]
GO
ALTER TABLE [dbo].[Preferencias]  WITH CHECK ADD  CONSTRAINT [CK_Pref_Genero] CHECK  (([Preferencia_Genero]=(3) OR [Preferencia_Genero]=(2) OR [Preferencia_Genero]=(1) OR [Preferencia_Genero]=(0)))
GO
ALTER TABLE [dbo].[Preferencias] CHECK CONSTRAINT [CK_Pref_Genero]
GO
USE [master]
GO